#MenuPrincipal{
    background-color: @color_black;
    .nav-item{
        font-family: 'Bison', Helvetica, sans-serif;
        font-size: 18px;
        .nav-link{
            color: @color_white;
        }
        
    }
    .social{
        ul{
            li{
                a{
                    i{color: @color_white;}
                }
            }
        }
        
    }
}