.c-video {
  margin-bottom: 60px;
}
.c-video .video-1 {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 800px;
  min-height: 450px;
}
/* RESPONSIVE */
@media (max-width: 992px) {
  .c-video .video-1 {
    max-width: 560px;
    height: 315px;
    min-height: 0;
  }
}
@media (max-width: 768px) {
  .c-video .video-1 {
    height: 287px;
  }
}
@media (max-width: 576px) {
  .c-video .video-1 {
    max-width: 560px;
    height: 315px;
    min-height: 0;
  }
}
