
.c-blog{
    .c-blog-post{
        margin-bottom: 30px;
        .c-blog-imagen{}
        .c-blog-contenido{
            padding-top: 10px;
            padding-bottom: 10px;
            .categoria{
                font-family: 'Gotham Medium', Helvetica, sans-serif;
                font-size: 14px;
                padding-top: 5px;
                padding-bottom: 10px;
                i{
                    color: @color_secundario;
                    margin-right: 5px;
                }
            }
            .titulo{
                p{
                    font-family: 'Gotham Medium', Helvetica, sans-serif;
                    font-weight: bold;
                    font-size: 16px;
                }  
            }
        }
    }
}


/* RESPONSIVE */
@media (max-width: 1200px) {}
@media (max-width: 992px) {

    .c-blog{
        .c-blog-post{
            .c-blog-imagen{}
            .c-blog-contenido{
                padding-top: 0;
                .categoria{
                    padding-top: 0;
                    i{
                        color: @color_secundario;
                        margin-right: 5px;
                    }
                }
                .titulo{
                    p{
                        margin-bottom: 5px;
                    }  
                }
            }
        }
    }


}
@media (max-width: 768px) {}
@media (max-width: 576px) {}