.c-tour{
    .titulo{
        font-family: 'Gotham Bold', Helvetica, sans-serif;
        margin-bottom: 30px;
    }
    .conciertos{
        .concierto{
            padding-top: 18px;
            padding-bottom: 8px;
            border-bottom: 1px solid rgba(191, 191, 191, 0.5);
            transition: all 0.3s ease-in-out;
            .col-sm-6{
                .fecha, .arena, .ciudad, .disponibilidad{
                    margin-bottom: 0;
                }
            }

            &:hover{
                background-color: rgba(170, 90, 41, 0.1);
            }
            &:last-child{
                border-bottom: none; 
            }
            
        }
    }
}