/* fluid 5 columns */
.grid-sizer, .grid-item { width: 20%; }
/* 2 columns */
.grid-item--width2 { width: 40%; }


/* GRID DE ZONA FAN */
.grid{
    .grid-sizer{}

    .grid-item{
        width: 30%;
        overflow: hidden;
        margin-bottom: 15px;
        .image-wrapper{
            img{
                
            }
        }
        .grid-item--width2{
            
        }
    }
}

/* GRID DE GALERIA */

.grid-galeria{
    .grid-sizer{}

    .grid-item{
        width: 30%;
        overflow: hidden;
        margin-bottom: 15px;
        .image-wrapper{
            img{
                
            }
        }
        .grid-item--width2{
            
        }
    }
}