


/* COLORES PRIMARIOS */
@color_primario: #fff;
@color_secundario: #333333;
@color_texto: #333333;

/* COLORES BOTONES */
@color_btn: #fff;
@color_btn_bg: #ff4433;
@color_btn_bg_hover: #ff5544;

/* COLORES OTROS */
