.c-galeria{
    .c-galeria-item{
        border: 1px solid grey;
        padding: 10px;
        .imagen{}
        .borrar{
            text-align: center;
            background-color: @color_primario;
        }
    }
}