.c-listado{
    .c-listado-elemento{
        padding: 10px;
        border-bottom: 1px solid @color_border;

        
    }

    .entrada{
        .titulo-post{
            font-weight: bold;
        }
    }

}