
/* COLORES PRIMARIOS */

@color_primario: #eaeaea;
@color_texto: #212529;
@color_enlaces: #286fb8;
@color_border: #dee2e6;
@color_texto_gris: #515151;

/* COLORES BASICOS */
@color_white: #ffffff;

@color_borrar: #d80202;
@color_modificar: #d3830b;
@color_moderar: #085a8a;


@color_gris: #e8e8e8; 



/* COLORES BOTONES */

@color_desplegable_bg: #286fb8;
@color_desplegable_bg_hover: #2e82d8;

@color_btn: #f9ce56;
@color_btn_hover: #e2b73d;
