
/* COLORES PRIMARIOS */

@color_primario: #eaeaea;
@color_texto: #212529;
@color_enlaces: #286fb8;
@color_white: #ffffff;
@color_border: #dee2e6;


/* COLORES BOTONES */

@color_desplegable_bg: #286fb8;
