/* SETTINGS */
body {
  background-color: #f9f9f9;
  color: #212529;
}
a {
  color: #286fb8;
}
/* TOOLS */
/* ELEMENTS */
.btn-cms {
  background-color: #f9ce56;
  border: 1px solid #e2b73d;
  color: #212529;
}
.btn-cms:hover {
  background-color: #e2b73d;
  border: 1px solid #f9ce56;
}
/* COMPONENTS */
.c-desplegable {
  margin-bottom: 30px;
}
.c-desplegable .btn-desplegable {
  width: 100%;
  padding: 10px;
  background-color: #286fb8;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
  border: 1px solid #286fb8;
}
.c-desplegable .btn-desplegable:focus {
  box-shadow: none;
}
.c-desplegable .btn-desplegable:hover {
  background-color: #2e82d8;
  border: 1px solid #2e82d8;
}
.c-desplegable .multi-collapse {
  border: 1px solid #dee2e6;
  border-top: 0;
  padding: 20px;
  background-color: #ffffff;
}
form input:focus,
form select:focus,
form textarea:focus {
  box-shadow: none;
}
form .form-control:focus {
  box-shadow: none;
}
form .ck-focused {
  min-height: 250px;
}
.c-galeria .c-galeria-item {
  border: 1px solid #dee2e6;
  padding: 10px;
}
.c-galeria .c-galeria-item .borrar {
  text-align: center;
  background-color: #eaeaea;
}
.c-galeria .c-galeria-item .borrar a {
  display: block;
  color: #212529;
}
.c-galeria .c-galeria-item .borrar:hover {
  background-color: #d80202;
}
.c-galeria .c-galeria-item .borrar:hover a {
  color: #ffffff;
}
.c-galeria .c-galeria-item .borrar:hover a:hover {
  text-decoration: none;
}
.header-cms {
  margin: 20px;
  text-align: center;
}
/* RESPONSIVE */
@media (max-width: 576px) {
  .header-cms h1 {
    font-size: 28px;
  }
}
.c-listado .c-listado-elemento {
  padding: 10px;
  border-bottom: 1px solid #dee2e6;
}
.c-listado .c-listado-elemento .modificar,
.c-listado .c-listado-elemento .eliminar {
  background-color: #e8e8e8;
  border-radius: 4px;
  padding: 3px;
}
.c-listado .c-listado-elemento .modificar a,
.c-listado .c-listado-elemento .eliminar a {
  display: block;
  text-align: center;
  color: #212529;
}
.c-listado .c-listado-elemento .modificar:hover a,
.c-listado .c-listado-elemento .eliminar:hover a {
  color: #ffffff;
  text-decoration: none;
}
.c-listado .c-listado-elemento .modificar:hover a i,
.c-listado .c-listado-elemento .eliminar:hover a i {
  color: #ffffff;
}
.c-listado .c-listado-elemento .modificar {
  margin-bottom: 4px;
}
.c-listado .c-listado-elemento .modificar a i {
  color: #d3830b;
}
.c-listado .c-listado-elemento .modificar:hover {
  background-color: #d3830b;
}
.c-listado .c-listado-elemento .eliminar a i {
  color: #d80202;
}
.c-listado .c-listado-elemento .eliminar:hover {
  background-color: #d80202;
}
.c-listado .entrada .titulo-post {
  font-weight: bold;
}
.c-listado .entrada .fecha-post {
  color: #515151;
  font-size: 14px;
}
.c-listado .usuario .nombre-user {
  font-weight: bold;
}
.c-login header {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#efefef+0,dcdede+22,d3d5d5+33,cfd1d1+50,cacccc+84,adb1b0+95,8e8e8e+100 */
  background: #efefef;
  /* Old browsers */
  background: -moz-linear-gradient(top, #efefef 0%, #dcdede 22%, #d3d5d5 33%, #cfd1d1 50%, #cacccc 84%, #adb1b0 95%, #8e8e8e 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #efefef 0%, #dcdede 22%, #d3d5d5 33%, #cfd1d1 50%, #cacccc 84%, #adb1b0 95%, #8e8e8e 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #efefef 0%, #dcdede 22%, #d3d5d5 33%, #cfd1d1 50%, #cacccc 84%, #adb1b0 95%, #8e8e8e 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#8e8e8e', GradientType=0);
  /* IE6-9 */
}
.c-login .formulario {
  background-color: #ffffff;
  padding: 20px;
  display: block;
  -webkit-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.5);
}
.modal .modal-dialog {
  max-width: 700px;
}
#MenuCMS {
  background-color: #e8e8e8;
  border-bottom: 1px solid #dee2e6;
}
.c-tabla-cms .concierto .modificar,
.c-tabla-cms .concierto .eliminar {
  display: inline-block;
  background-color: #e8e8e8;
  border-radius: 4px;
  padding: 3px;
  text-align: center;
  color: #212529;
}
.c-tabla-cms .concierto .modificar:hover,
.c-tabla-cms .concierto .eliminar:hover {
  color: #ffffff;
  text-decoration: none;
}
.c-tabla-cms .concierto .modificar:hover i,
.c-tabla-cms .concierto .eliminar:hover i {
  color: #ffffff;
}
.c-tabla-cms .concierto .modificar {
  margin-bottom: 3px;
}
.c-tabla-cms .concierto .modificar i {
  color: #d3830b;
}
.c-tabla-cms .concierto .modificar:hover {
  background-color: #d3830b;
}
.c-tabla-cms .concierto .eliminar i {
  color: #d80202;
}
.c-tabla-cms .concierto .eliminar:hover {
  background-color: #d80202;
}
