/* SETTINGS */
@font-face {
  font-family: 'Gotham Book';
  src: url('../fonts/GothamBook.ttf') format('truetype');
}
@font-face {
  font-family: 'Gotham Bold';
  src: url('../fonts/Gotham-Bold.otf'), url('../fonts/GothamBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Gotham Medium';
  src: url('../fonts/GothamMedium.ttf') format('truetype');
}
@font-face {
  font-family: 'Bison';
  src: url('../fonts/Bison-Bold(PersonalUse).ttf') format('truetype');
}
body {
  font-family: 'Gotham Book', Helvetica, sans-serif;
}
p {
  font-family: 'Gotham Book', Helvetica, sans-serif;
}
/* TOOLS */
/* ELEMENTS */
.btn-basico {
  background-color: #aa5a29;
  border-radius: 0;
  padding-top: 10px;
  padding-bottom: 0;
  color: #ffffff;
}
.to-top {
  display: inline-block;
  position: fixed;
  bottom: 30px;
  right: 20px;
}
.to-top i {
  font-size: 50px;
  color: rgba(170, 90, 41, 0.5);
  transition: all 0.3s ease-in-out;
}
.to-top--visible i {
  color: #aa5a29;
  transition: all 0.3s ease-in-out;
}
.to-top-semivisible i {
  color: rgba(170, 90, 41, 0.5);
}
/* RESPONSIVE */
@media (max-width: 992px) {
  .to-top i {
    font-size: 40px;
  }
}
@media (max-width: 576px) {
  .to-top i {
    font-size: 30px;
  }
}
#Footer {
  margin-top: 40px;
  padding-top: 20px;
}
#Footer .container {
  border-top: 1px solid #666666;
}
#Footer .container .social {
  padding-top: 20px;
}
#Footer .container .social ul li a i {
  font-size: 20px;
  color: #666666;
}
#Footer .container .social ul li a i:hover {
  color: #07b9e0;
}
#Footer .container .legales li {
  font-family: 'Bison', Helvetica, sans-serif;
}
#Footer .container .legales li a {
  color: #666666;
}
#Footer .container .legales li a:hover {
  color: #07b9e0;
  text-decoration: none;
}
#Footer .container .legales li:first-child {
  margin-right: 0;
}
#Footer .container .legales li:first-child:after {
  content: "|";
  display: inline;
  padding: 0 10px;
}
.form-control {
  border-radius: 0;
  border-color: #bfbfbf;
}
.form-control:focus {
  box-shadow: none;
}
/* fluid 5 columns */
.grid-sizer,
.grid-item {
  width: 20%;
}
/* 2 columns */
.grid-item--width2 {
  width: 40%;
}
/* GRID DE ZONA FAN */
.grid .grid-item {
  width: 30%;
  overflow: hidden;
  margin-bottom: 15px;
}
/* GRID DE GALERIA */
.grid-galeria .grid-item {
  width: 30%;
  overflow: hidden;
  margin-bottom: 15px;
}
/* COMPONENTS */
.c-biografia .c-grupo {
  text-align: center;
}
.c-biografia .c-grupo .titulo {
  font-family: 'Gotham Medium', Helvetica, sans-serif;
  margin: 10px auto;
}
.c-biografia .c-grupo p {
  font-size: 18px;
  letter-spacing: 1px;
}
.c-biografia .c-miembro {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.c-biografia .c-miembro .texto .nombre {
  font-family: 'Gotham Medium', Helvetica, sans-serif;
}
.c-biografia .c-miembro .texto .rol {
  color: #aa5a29;
  margin-bottom: 3px;
}
.c-biografia .c-miembro .imagen {
  padding: 20px;
}
.c-biografia .c-miembro .imagen img {
  width: 100%;
  max-width: 400px;
}
.c-biografia .c-miembro--alex {
  border-bottom: 1px solid #666666;
}
.c-biografia .c-miembro--alex .texto {
  text-align: left;
}
.c-biografia .c-miembro--sam {
  border-bottom: 1px solid #666666;
}
.c-biografia .c-miembro--sam .texto {
  text-align: right;
}
.c-biografia .c-miembro--kevin .texto {
  text-align: left;
}
/* RESPONSIVE */
@media (max-width: 768px) {
  .c-biografia .c-miembro {
    text-align: center;
  }
  .c-biografia .c-miembro--sam .texto {
    text-align: center;
  }
}
.c-blog .c-blog-post {
  margin-bottom: 30px;
}
.c-blog .c-blog-post .c-blog-contenido {
  padding-top: 10px;
  padding-bottom: 10px;
}
.c-blog .c-blog-post .c-blog-contenido .categoria {
  font-family: 'Gotham Medium', Helvetica, sans-serif;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 10px;
}
.c-blog .c-blog-post .c-blog-contenido .categoria i {
  color: #07b9e0;
  margin-right: 5px;
}
.c-blog .c-blog-post .c-blog-contenido .titulo p {
  font-family: 'Gotham Medium', Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
}
/* RESPONSIVE */
@media (max-width: 992px) {
  .c-blog .c-blog-post .c-blog-contenido {
    padding-top: 0;
  }
  .c-blog .c-blog-post .c-blog-contenido .categoria {
    padding-top: 0;
  }
  .c-blog .c-blog-post .c-blog-contenido .categoria i {
    color: #07b9e0;
    margin-right: 5px;
  }
  .c-blog .c-blog-post .c-blog-contenido .titulo p {
    margin-bottom: 5px;
  }
}
.c-desplegable .btn-desplegable {
  width: 100%;
  background-color: #be75f9;
}
.c-desplegable .btn-desplegable .multi-collapse {
  background-color: green;
}
.c-entrada {
  padding-bottom: 30px;
}
.c-entrada .c-blog-contenido .datos-post {
  padding-bottom: 30px;
}
.c-entrada .c-blog-contenido .datos-post .fecha,
.c-entrada .c-blog-contenido .datos-post .autor {
  display: inline;
  font-size: 12px;
  color: #666666;
}
.c-entrada .c-blog-contenido .datos-post .autor a {
  color: #666666;
}
.c-entrada .c-blog-contenido .datos-post .autor a:hover {
  color: #07b9e0;
}
.c-entrada-comentarios .c-comentarios-wrapper {
  border-top: 1px solid #bfbfbf;
}
.c-entrada-comentarios .c-comentarios-wrapper .c-comentarios {
  padding-top: 20px;
}
.c-entrada-comentarios .c-comentarios-wrapper .c-comentarios .titulo {
  font-family: 'Bison', Helvetica, sans-serif;
  margin-bottom: 20px;
}
.c-entrada-comentarios .c-comentarios-wrapper .c-comentarios .c-comentario .comentario {
  margin-bottom: 10px;
}
.c-entrada-comentarios .c-comentarios-wrapper .c-comentarios .c-comentario .comentario .comentador {
  font-family: 'Gotham Medium', Helvetica, sans-serif;
  display: inline;
}
.c-entrada-comentarios .c-comentarios-wrapper .c-comentarios .c-comentario .comentario .fecha-hora {
  display: inline;
  font-size: 12px;
  color: #666666;
}
.c-entrada-comentarios .c-comentarios-wrapper .c-comentarios .c-comentario .comentario .contenido-comentario {
  margin-bottom: 0;
}
.c-entrada-comentarios .c-comentarios-wrapper .c-comentarios .c-comentario .comentario-hijo {
  margin-left: 30px;
  border-left: 3px solid #aa5a29;
}
.c-galeria .row .c-galeria-item {
  transition: all 0.3s ease-in-out;
}
.c-galeria .row .c-galeria-item a {
  height: fit-content;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
.c-galeria .row .c-galeria-item a .mask {
  position: relative;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
.c-galeria .row .c-galeria-item a .mask img {
  width: 100%;
  vertical-align: top;
  transition: all 0.3s ease-in-out;
}
.c-galeria .row .c-galeria-item a .mask img:hover {
  transform: rotate(20deg);
}
.c-galeria .row .c-galeria-item a .mask:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.c-galeria .row .c-galeria-item a .mask:hover:after {
  opacity: 1;
}
.html-home body {
  background-size: cover;
  background: url("../images/inicio.jpg") no-repeat #000000;
  background-position: center top !important;
}
/* RESPONSIVE */
.c-header {
  margin-bottom: 40px;
  height: 400px;
  background-position: center top !important;
  background-size: cover;
}
.c-header .row .c-cabecera-wrapper {
  z-index: 2;
}
.c-header .row .c-cabecera-wrapper .c-cabecera {
  text-align: center;
  height: 90% !important;
  width: 100%;
  display: flex;
  align-items: center;
}
.c-header .row .c-cabecera-wrapper .c-cabecera .titulo,
.c-header .row .c-cabecera-wrapper .c-cabecera .titulo-post {
  font-family: 'Bison', Helvetica, sans-serif;
  font-size: 72px;
  color: #ffffff;
  z-index: 1;
  text-shadow: 2px 2px #000000;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.c-header .row .c-cabecera-wrapper .c-cabecera:hover .titulo,
.c-header .row .c-cabecera-wrapper .c-cabecera:hover .titulo-post {
  font-size: 80px;
}
.c-header .row:after {
  content: "";
  position: relative;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.c-header .row:hover:after {
  opacity: 0;
}
.c-header--entrada .row .c-cabecera-wrapper .c-cabecera {
  align-items: flex-end;
}
.c-header--entrada .row .c-cabecera-wrapper .c-cabecera .titulo,
.c-header--entrada .row .c-cabecera-wrapper .c-cabecera .titulo-post {
  font-family: 'Gotham Medium', Helvetica, sans-serif;
  font-size: 24px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  text-align: left;
}
.c-header--entrada .row .c-cabecera-wrapper .c-cabecera:hover .titulo,
.c-header--entrada .row .c-cabecera-wrapper .c-cabecera:hover .titulo-post {
  font-size: 28px;
}
.c-header--blog,
.c-header--entrada {
  background: url("../images/cabeceras/cabecera-blog.jpg") no-repeat;
  margin-bottom: 0;
}
.c-header--tour {
  background: url("../images/cabeceras/cabecera-tour.jpg") no-repeat;
}
.c-header--zona-fan {
  background: url("../images/cabeceras/cabecera-fan.jpg") no-repeat;
}
.c-header--galeria {
  background: url("../images/cabeceras/cabecera-galeria.jpg") no-repeat;
}
.c-header--videos {
  background: url("../images/cabeceras/cabecera-videos.jpg") no-repeat;
}
.c-header--biografia {
  background: url("../images/cabeceras/cabecera-biografia.jpg") no-repeat;
}
/* RESPONSIVE */
#MenuPrincipal {
  background-color: #000000;
}
#MenuPrincipal .navbar-toggler {
  border-color: #ffffff;
}
#MenuPrincipal .nav-item {
  font-family: 'Bison', Helvetica, sans-serif;
  font-size: 18px;
}
#MenuPrincipal .nav-item .nav-link {
  color: #ffffff;
}
#MenuPrincipal .nav-item .nav-link:hover {
  color: #07b9e0;
}
#MenuPrincipal .social ul li a i {
  color: #ffffff;
}
#MenuPrincipal .social ul li a i:hover {
  color: #07b9e0;
}
/* RESPONSIVE */
@media (max-width: 992px) {
  #MenuPrincipal .nav-item .nav-link {
    text-align: center;
  }
  #MenuPrincipal .social ul {
    text-align: center;
  }
}
#MenuCategorias {
  background-color: #07b9e0;
  margin-bottom: 30px;
  padding: 0;
}
#MenuCategorias .navbar-nav .nav-item .nav-link {
  color: #ffffff;
  padding-top: 12px;
  padding-bottom: 1px;
}
.c-pidetour {
  margin-top: 40px;
  margin-bottom: 40px;
}
.c-pidetour .c-pidetour-container {
  border-top: 3px solid #aa5a29;
  border-bottom: 3px solid #aa5a29;
  padding-top: 20px;
  padding-bottom: 20px;
}
.c-pidetour .c-pidetour-container .lead {
  font-family: 'Gotham Medium', Helvetica, sans-serif;
  font-size: 25px;
}
.c-tour .titulo {
  font-family: 'Gotham Bold', Helvetica, sans-serif;
  margin-bottom: 30px;
}
.c-tour .conciertos .concierto {
  padding-top: 18px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(191, 191, 191, 0.5);
  transition: all 0.3s ease-in-out;
}
.c-tour .conciertos .concierto .col-sm-6 .fecha,
.c-tour .conciertos .concierto .col-sm-6 .arena,
.c-tour .conciertos .concierto .col-sm-6 .ciudad,
.c-tour .conciertos .concierto .col-sm-6 .disponibilidad {
  margin-bottom: 0;
}
.c-tour .conciertos .concierto:hover {
  background-color: rgba(170, 90, 41, 0.1);
}
.c-tour .conciertos .concierto:last-child {
  border-bottom: none;
}
