/* SETTINGS */
/* TOOLS */
/* ELEMENTS */
/* fluid 5 columns */
.grid-sizer,
.grid-item {
  width: 20%;
}
/* 2 columns */
.grid-item--width2 {
  width: 40%;
}
.grid .grid-item {
  width: 30%;
  overflow: hidden;
  margin-bottom: 15px;
}
/* COMPONENTS */
